.user-row {
  height: 100px;
  width: calc(100%);
  display: flex;
  flex-direction: row;
  border-color: var(--greyColor);
  border-style: solid;
}

.user-row:hover {
  background-color: #e0e0e0;
}

.user-row > div:first-child {
  margin: 0px 10px;
  position: relative;
  display: flex;
  width: calc(100%);
  flex-direction: row;
  align-items: center;
  border-bottom-style: solid;
  border-color: var(--greyColor);
}

.avatar-icon {
  margin: 10px;
}

@media screen and (max-width: 400px) {
  .user-row-mq {
    width: 400px;
  }
}

.user-row-sub-container {
  margin: 0px 10px;
  min-width: calc(100% - 150px);
}

.user-row-title {
  font-weight: bold;
  font-size: 18px;
  width: calc(100%);
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-row-desc {
  display: flex;
  flex: 1;
  flex-direction: "row";
  flex-wrap: wrap;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  color: black;
  width: calc(100%);
  margin: 5px 0px;
}

.dot {
  background-color: var(--darkGreyColor);
  border-radius: 999px;
  height: 5px;
  width: 5px;
  margin: 0px 10px 0px 5px;
}

.user-row-desc-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(100%);
}

.user-row-desc-text svg {
  color: var(--darkGreyColor);
}

.user-row-desc-text svg,
.user-row-desc > div > div:nth-child(2) {
  margin-right: 5px;
}

.user-row-desc-text .text {
  max-width: calc(100%);
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-icon {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  color: var(--voilet);
}

.delete-icon:active {
  opacity: 0.5;
}
