.header {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-bottom: 0px;
}

.header > div {
  margin-left: 20px;
}

.header > div > div:first-child {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.header > div > div:nth-child(2) {
  font-size: 14px;
}
